@keyframes bounce {
  0%, 20%, 50%, 80%, to {
    transform: translate(0);
  }
  40% {
    transform: translate(-8px);
  }
  60% {
    transform: translate(-4px);
  }
}
@keyframes bounce2 {
  0%, to {
    transform: translate(0);
  }
  50% {
    transform: translate(10px);
  }
}
.careers {
  border-bottom: 1px solid #eaeaea;
}

.careers h3 {
  font-size: 1.75rem;
  line-height: 0.0875rem;
  line-height: 1.4;
  font-weight: 500;
}

.careers h4 {
  font-size: 1.375rem;
  line-height: 0.08125rem;
  line-height: 1.3;
  font-weight: 500;
}

.careers .visual {
  margin-top: 8.125rem;
  height: 37.5rem;
  background-image: url(../image/careers/vis-1.s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.careers .visual.visual2 {
  height: 28.75rem;
  background-image: url(../image/careers/vis-2.s.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.careers .roles {
  margin-top: 1.875rem;
}

.careers .roles p {
  font-size: 1.75rem;
  line-height: 0.0875rem;
  line-height: 1.4;
  font-weight: 500;
}

.careers .roles a {
  margin-top: 1.875rem;
}

.careers .value {
  margin-top: 10rem;
}

.careers .value h3 + p {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  line-height: 0.1rem;
  line-height: 1.6;
  font-weight: 500;
}

.careers .value ul {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 3.25rem;
}

.careers .value ul li {
  padding-top: 1.25rem;
  border-top: 1px solid #eaeaea;
}

.careers .value ul li h4 {
  margin-bottom: 0.75rem;
}

.careers .systems {
  margin-top: 10rem;
}

.careers .systems ul {
  margin-top: 1.25rem;
}

.careers .systems ul li {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.careers .systems ul li > div + div {
  margin-top: 4.375rem;
}

.careers .systems ul li h4 + p {
  margin-top: 0.75rem;
  color: #666;
}

.careers .systems ul li .ir {
  overflow-x: scroll;
  scrollbar-width: none;
}

.careers .systems ul li .ir dl {
  width: 49.0625rem;
  height: 13.875rem;
  background-image: url(../image/careers/ir-img.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.en .careers .systems ul li .ir dl {
  background-image: url(../image/careers/ir-img-en.png);
}

.careers .systems ul li dt {
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.careers .systems ul li dd + dt {
  margin-top: 2.5rem;
}

.careers .systems ul li dl + dl {
  margin-top: 2.5rem;
}

.careers .systems ul li + li {
  border-top: 1px solid #eaeaea;
}

.careers .benefits {
  margin-top: 5rem;
}

.careers .benefits ol {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.25rem;
}

.careers .benefits ol li {
  padding: 1.375rem 1.25rem 1.625rem;
  background-color: #f8f8f8;
}

.careers .benefits ol li p:first-child {
  font-size: 1.25rem;
  line-height: 0.08125rem;
  line-height: 1.3;
  color: #b2b2b2;
  font-weight: 500;
}

.careers .benefits ol li h4 {
  margin-top: 3rem;
  margin-bottom: 0.75rem;
}

.careers .benefits ol li h4 + p {
  font-weight: 500;
}

.careers .benefits .question {
  margin-top: 3.75rem;
  font-weight: 600;
}

.careers .benefits .question a {
  display: block;
  margin-top: 0.75rem;
  font-size: 0.875rem;
  line-height: 0.0625rem;
  line-height: 1;
  font-weight: 400;
  color: #666;
}

@media (min-width: 768px) {
  .careers .visual {
    margin-top: 6.5rem;
  }
  .careers .value {
    margin-top: 8.75rem;
  }
  .careers .value ul {
    margin-top: 3.75rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4.5rem;
    grid-column-gap: 1.25rem;
  }
  .careers .value ul li {
    padding-top: 1.875rem;
  }
  .careers .value ul li h4 {
    margin-bottom: 1.875rem;
  }
  .careers .systems {
    margin-top: 11.875rem;
  }
  .careers .systems ul li .ir {
    overflow: hidden;
  }
  .careers .systems ul li .ir dl {
    max-width: 100%;
  }
  .careers .systems ul li dd + dt {
    margin-top: 0;
  }
  .careers .systems ul li dl + dl {
    margin-top: 0;
  }
  .careers .systems ul li + li > div + div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
  }
  .careers .benefits {
    margin-top: 7.5rem;
  }
  .careers .benefits ol {
    margin-top: 4.1875rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem;
  }
  .careers .benefits ol li {
    padding: 1.25rem 1.25rem 1.75rem;
  }
  .careers .benefits .question {
    margin-top: 3.125rem;
  }
  .careers .benefits .question a {
    display: inline-block;
    margin: 0;
    margin-left: 1.75rem;
  }
}
@media (min-width: 1024px) {
  .careers h3 {
    font-size: 2.375rem;
    line-height: 0.08125rem;
    line-height: 1.3;
  }
  .careers h4 {
    font-size: 1.5rem;
    line-height: 0.08125rem;
    line-height: 1.3;
  }
  .careers .visual {
    margin-top: 8.75rem;
  }
  .careers .visual.visual2 {
    background-image: url(../image/careers/vis-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .careers .roles {
    margin-top: 2.5rem;
  }
  .careers .roles p {
    font-size: 2.375rem;
    line-height: 0.08125rem;
    line-height: 1.3;
  }
  .careers .roles a {
    margin-top: 2.5rem;
  }
  .careers .value {
    margin-top: 11.875rem;
  }
  .careers .value ul {
    margin-top: 5rem;
    grid-column-gap: 2.5rem;
  }
  .careers .systems {
    margin-top: 12.5rem;
  }
  .careers .systems ul li > div + div {
    margin-top: 5rem;
  }
  .careers .systems ul li h4 + p {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 0.1rem;
    line-height: 1.6;
    font-weight: 500;
  }
  .careers .benefits ol {
    margin-top: 3.75rem;
  }
  .careers .benefits ol li {
    padding: 1.875rem 1.875rem 2.25rem;
  }
  .careers .benefits ol li p:first-child {
    font-size: 1.5rem;
    line-height: 0.08125rem;
    line-height: 1.3;
  }
  .careers .benefits ol li h4 {
    margin-top: 4.125rem;
    margin-right: 0;
    margin-bottom: 1.25rem;
    margin-left: 0;
  }
  .careers .benefits .question {
    margin-top: 3.75rem;
    font-size: 1.25rem;
    line-height: 0.0625rem;
    line-height: 1;
  }
  .careers .benefits .question a {
    font-size: 1rem;
    line-height: 0.0625rem;
    line-height: 1;
    margin-left: 2rem;
  }
}
@media (min-width: 1440px) {
  .careers h3 {
    font-size: 3rem;
    line-height: 0.08125rem;
    line-height: 1.3;
  }
  .careers h4 {
    font-size: 1.75rem;
    line-height: 0.08125rem;
    line-height: 1.3;
  }
  .careers .visual {
    margin-top: 12.5rem;
  }
  .careers .roles {
    margin-top: 3.75rem;
  }
  .careers .roles p {
    font-size: 3rem;
    line-height: 0.0875rem;
    line-height: 1.4;
  }
  .careers .value {
    margin-top: 15rem;
  }
  .careers .value h3 + p {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    line-height: 0.1rem;
    line-height: 1.6;
  }
  .careers .value ul {
    margin-top: 7.5rem;
    grid-column-gap: 3.75rem;
  }
  .careers .value ul li {
    display: flex;
  }
  .careers .value ul li h4 {
    width: 16.25rem;
    margin: 0;
    flex-shrink: 0;
  }
  .careers .systems {
    margin-top: 17.5rem;
  }
  .careers .systems ul {
    margin-top: 1.875rem;
  }
  .careers .systems ul li {
    display: flex;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
  .careers .systems ul li > div:first-child {
    width: 35.9375rem;
    flex-shrink: 0;
  }
  .careers .systems ul li > div + div {
    margin-top: 0;
  }
  .careers .systems ul li h4 + p {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 0.1rem;
    line-height: 1.6;
    font-weight: 500;
  }
  .careers .systems ul li + li > div + div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2.5rem;
  }
  .careers .benefits {
    margin-top: 8.75rem;
  }
  .careers .benefits ol {
    margin-top: 5rem;
  }
  .careers .benefits ol li p:first-child {
    font-size: 1.75rem;
    line-height: 0.08125rem;
    line-height: 1.3;
  }
  .careers .benefits ol li h4 {
    margin-top: 4.375rem;
    margin-right: 0;
    margin-bottom: 1.25rem;
    margin-left: 0;
  }
}
@media (min-width: 1920px) {
  .careers .visual {
    height: 42.5rem;
    background-image: url(../image/careers/vis-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .careers .visual.visual2 {
    height: 36.25rem;
  }
}

/*# sourceMappingURL=careers.css.map */
