@charset "utf-8";
/* *******************************************************
 * filename : layout_responsive.css
 * description : 전체 레이아웃 반응형 CSS
 * date : 2022-03-14
******************************************************** */

/* ========================================================
 * SETTING
======================================================== */
@media all and (max-width:1280px){
	:root{
		--header-height: 120px;
		--header-fixed-height: 80px;
		--area-padding-wide: 3rem;
	}
}
@media all and (max-width:800px){
	:root{
		--area-padding: 5vw;
		--area-padding-wide: 5vw;
		--sub-visual-height: 240px;
		--sub-menu-height: 44px;
	}
}
@media all and ( max-width: 480px ){
	:root{
		--header-height: 100px;
		--header-fixed-height: 60px;
		--sub-visual-height: 180px;
	}
}

/* ========================================================
 * FONT SIZE
======================================================== */
@media all and (max-width:1536px){
	html{font-size:0.6510vw;} /* 10 */
}
@media all and (max-width:1280px){
	html{font-size:0.8594vw;} /* 10 -> 11*/
}
@media all and (max-width:800px){
	html{font-size:1.375vw} /* 10 -> 11*/
}
@media all and (max-width:640px){
	html{font-size:1.7188vw}  /* 10 -> 11*/
}
@media all and ( max-width: 480px ){
	html{font-size:2.2vw}  /* 10 */
}
@media all and ( max-width: 412px ){
	html{font-size:2.4272vw}  /* 10 */
}
@media all and (max-width:390px){
	html{font-size:2.1795vw}  /* 10 -> 8.5 */
}

/* ========================================================
 * LAYOUT
======================================================== */
@media all and ( max-width: 800px ){
	.pc-min-br {display: none;}
}

/* ========================================================
 * HEADER
======================================================== */
/* ****************** HEADER ********************** */
@media all and ( max-width: 1280px ){
	#wrap.sub-wrap #header.top-fixed {position: fixed; top: 0; height: var(--header-fixed-height);}
	#wrap.sub-wrap #header.top-fixed:before{transform: translateY(0); height:var(--header-fixed-height);}
	#wrap.sub-wrap #header.top-fixed .nav-open-btn,
	#wrap.sub-wrap #header.top-fixed #headerInnerWrap,
	#wrap.sub-wrap #header.top-fixed #headerInner{height: var(--header-fixed-height);}
	#wrap.sub-wrap #header.top-fixed .logo .cm-svg-logo .text-path{fill:#000;}
	#wrap.sub-wrap #header.top-fixed .header-email-consult{border-color: #000; color: #000;}

	#headerInnerWrap{position:fixed; z-index:9999;}
	#gnb{display: none;}
	/* -------- Header :: UTIL BOX -------- */
	.header-util-box{padding-right:50px;}

	/* -------- Header :: GNB(Mobile/기본스타일) -------- */
	.gnb-overlay-bg-m{display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); z-index:9998;}	
	#gnbM{ 
		display:block; 
		position:fixed; 
		top:0px; 
		right:-102%;
		width:100%; 
		height:100%;  
		/* max-width:480px; */ 
		background-color: #444;
		box-shadow: -2px 1px 11px rgba(0, 0, 0, .3);
		z-index:9999; 
		transition:var(--custom-transiton1);   
		visibility:hidden;
	}
	#gnbM.open{
		right:0px; 
		visibility:visible;
	}
	/* GNB Mobile :: 레이아웃 */
	.gnb-navigation-wrapper{position:relative; height:auto; top:var(--header-height); bottom: var(--header-height); box-sizing:border-box; padding-top:var(--header-height); padding-top: 0; overflow-y:auto;}	
	
	/* GNB Mobile :: 메뉴영역 :: 1차 */
	#navigation > li > a {position:relative; display:block; padding:1.5rem var(--area-padding); color:#fff; font-size:2rem; font-weight:500; text-align: center;}
	#navigation > li.gnb3{position: absolute; top: -9999px; left: -99999px; opacity: 0; visibility: hidden;}
	#navigation > li.active > a{color:var(--main-color);}
	
	/* GNB Mobile :: 퀵메뉴 */
	.header-util-menu-box{margin-top: 30px;}
	.gnb-custom {text-align:center;}
	.header-sns-list.pc-ver{display: none;}
	.header-sns-list.m-ver{display: flex; justify-content: center; margin-bottom:15px;}
	.header-sns-list.m-ver li{color: #fff !important;}

	.gnb-request {background-color:#000;  border-radius:25px; margin-left: 0; display: inline-flex; align-items: center; justify-content: center; width: 150px; height: 32px; box-sizing: border-box;}
	.gnb-request i {color:#fff; font-size:22px; margin-right:10px;}
	.gnb-request span {font-size:15px; color:#fff; font-weight: 500;}

	.gnb-call {background-color:#fff; border-radius:25px; margin-bottom: 10px; display: inline-flex; align-items: center; justify-content: center; width: 150px; height: 32px; box-sizing: border-box;}
	.gnb-call i {color:#f58226; font-size:22px; margin-right:10px;}
	.gnb-call span {font-size:15px; color:#f58226; font-weight: 500; letter-spacing: -0.25px;}

	/* -------- Header :: 네비게이션 오픈 버튼 -------- */
	.nav-open-btn-wrap{display: block; position:fixed; top:0; right:var(--area-padding); z-index:10000;}
	.nav-open-btn{
		display:block;position: relative; 
		height:var(--header-height); transition: height 0.3s
	}
	.nav-open-btn .line{
		display:block; width:28px; height:3px; background-color:#fff; margin: 4px auto;
	    transition:var(--custom-transiton1); 
	}
	.nav-open-btn.active .line,
	#header.top-fixed .nav-open-btn.active .line,
	.sub-wrap #header .nav-open-btn.active .line {background-color: #fff;}
	.nav-open-btn.active .line:nth-child(2), .nav-open-btn.active .line:nth-child(4){opacity: 0;}
	.nav-open-btn.active .line:nth-child(1){
		transform: translateY(7px) rotate(45deg);
	}
	.nav-open-btn.active .line:nth-child(3){
		transform: translateY(-7px) rotate(-45deg);
	}
}
@media all and ( max-width: 480px ){
	#header .logo a{height:30px;}
	.header-email-consult{display: none;}
	/* Header :: 사이트맵버튼 */
	.header-menu-btn{margin-left:1rem; margin-right:0;}
	/* Header :: 메뉴 오픈 버튼 */
	.menu-open-btn{display: flex; align-items: center;}
	.menu-open-btn .menu-icon{width:60px; height:40px;}
	.menu-open-btn .menu-label {margin-top: -15px; height: 30px; font-size: 12.5px; line-height: 30px;}
	.menu-open-btn .square{width:60px; height:2px;}
	.menu-open-btn .square.square1{top:6px;}
	.menu-open-btn .square.square6{top: 32px;}
	.menu-open-btn.open .square{width: 36px;}
	.menu-open-btn.open .square.square1{transform: translate(10px,13px) rotate(45deg);}
	.menu-open-btn.open .square.square6{transform: translate(10px,-13px) rotate(-45deg);}
}

/* ****************** FOOTER ********************** */
@media all and (max-width:1280px){
	/* -------- FOOTER :: 레이아웃 -------- */
	#footer .footer-cover{height:10vw;}
	/* Footer :: TOP버튼 */
	.to-top-btn{bottom:5rem; right:var(--area-padding);}
	.to-top-btn i{display:inline-block; font-size:16px; line-height:46px;}
	
	/* -------- FOOTER :: 상단 -------- */
	#footerTop .footer-top-inner{display:block; padding:11.5rem 0 5.5rem; text-align: center;}
	.footer-slogan-txt{font-size:4.8rem; line-height:1.4;}
	.footer-consulting-con{padding-top:15px;}
	.footer-consulting-con .to-footer-consulting-btn{transform: none !important;}
	.footer-consulting-con .to-footer-consulting-btn .txt{font-size:7.3rem;}
	.footer-consulting-con .to-footer-consulting-btn .icon{font-size:4.0rem; margin-left:0.6em}

	/* -------- FOOTER :: 하단 -------- */
	.footer-bottom-inner{display:block; padding:5.5rem 0}
	.footer-bottom-inner .footer-left-con,
	.footer-bottom-inner .footer-right-con{display:flex; justify-content: center;}
	.footer-bottom-inner .footer-right-con{margin-top: 5rem;}
	/* Footer :: 푸터로고 */
	.foot-logo{margin-right:10.9rem}
	.foot-logo .foot-kr-name{display:block; font-size:1.45rem; margin:4rem 0 0.8rem}
	.foot-logo .foot-kr-name:before{top:-1.9rem; left:0; width:1.3rem; height:2px;}
	.foot-logo .foot-en-name{font-size:1.25rem;}
	/* Footer :: 정보 */
	.footer-address-box{display:flex; margin-top:1.4rem}
	.footer-address-box .footer-address-txt:first-child{margin-right:10rem}
	.footer-address-box .footer-address-txt p{font-size:1.45rem; line-height:1.72;}
	.footer-address-box .footer-address-txt .margin-top{margin-top:1.72em}
	.footer-address-box .footer-address-txt .copyright{margin-top:1.55em}
	/* Footer :: 우측메뉴 */
	.footer-menu-con{width:16rem; padding:3rem 1.8rem 1.8rem; margin-left:1rem;}
	.footer-menu-con li{text-align:right; font-size:1.4rem; line-height:1.72;}
	.footer-menu-con li a:after{bottom:-2px; left:0px; width:100%; height:2px;}
	.footer-menu-con li:first-child{margin-bottom:3.07em;}
}
@media all and (max-width:800px){
	/* Footer :: TOP버튼 */
	.to-top-btn{bottom:2rem; right: calc(var(--area-padding) + 2rem);}
	
	.footer-round-cover{height:8vw;}
	/* -------- FOOTER :: 상단 -------- */
	.footer-slogan-txt{font-size:3.5rem; line-height:1.4;}
	.footer-consulting-con .to-footer-consulting-btn .txt{font-size:5rem;}
	.footer-consulting-con .to-footer-consulting-btn .icon{font-size:3.0rem; margin-left:0.6em}

	/* -------- FOOTER :: 하단 -------- */
	.footer-bottom-inner .footer-left-con{display:block; text-align: center;}
	/* Footer :: 정보 */
	.foot-logo{margin-right:0; display: flex; align-items: center; justify-content: center;}
	.foot-name-group{margin-left: 2rem;}
	.foot-logo .foot-kr-name {margin: 0 0 0.8rem;}
	.foot-logo .foot-kr-name:before{display: none;}
	.footer-address-box{display:block; margin-top:2.5rem}
	.footer-address-box .footer-address-txt:first-child{margin-right:0}
}
@media all and (max-width:800px){
	.footer-round-cover{height:6vw;}
}

/* ****************** SUB LAYOUT ********************** */
@media all and (max-width:800px){
	#container {padding-top: 150px;}
	#content:not(.wide) {padding: 0 var(--area-padding) 10rem;}
	/*  SUB LAYOUT :: 상단정보 (공통) */
	#contentTop{margin-bottom:10rem; margin-bottom:4.6rem; position: relative; z-index: 2;}
	.content-tit-info-con{display: block; height:auto; margin-bottom: 3.5rem;}
	.content-tit-info-con .bg-tit{margin-bottom: 2rem;}
	.content-tit-info-con .content-bg-tit{display:none;}
	.content-tit-info-con .content-tit{font-size:5.3rem;}
	.content-top-txt-con .content-top-bold-txt{font-size:3.8rem; line-height:1.39;}
	.content-top-txt-con .content-top-sub-txt{font-size:1.65rem; line-height:1.81; margin-top:1.5em;}
}

/* ****************** MODAL LAYERPOPUP ********************** */
@media all and ( max-width: 800px ){
	/* modal layer content */
	.footer-modal-content{width:auto; margin:50px 15px}
	.footer-modal-content h1{font-size:18px; text-align:left; padding:0 30px 15px 0}
	.modal-close-btn{right:-3px; top:-3px;}
	.modal-close-btn i{font-size:24px}
	.footer-inner-box{padding:15px}
	.footer-inner{padding:10px; height:250px;}
}


/* ========================================================
 * 마우스 커서
======================================================== */
@media all and (max-width:800px){
	.cm-mouse-pointer, .cm-mouse-pointer-txt {visibility: hidden; opacity: 0;}
}